<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SkeletonAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">
 
  <h1 class="ion-text-center">Bienvenido!</h1>

  <ion-row class="ion-margin-bottom">
    <ion-col >
      Usuario:
    </ion-col>
    <ion-col >
      {{data.nombre}}
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col >
      <h2 class="ion-text-center ">Información adicional</h2>
    </ion-col>
  </ion-row>
  
  <form action="" #formulario="ngForm" (ngSubmit)="mostrarDatos()">

  <ion-row >
    <ion-col class="ion-margin-top" >
      Nombre
    </ion-col>
    <ion-col >
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su nombre</mat-label>
        <input matInput name="nombre" [(ngModel)]="datos.nombre">
      </mat-form-field>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col class="ion-margin-top" size="12">
      Apellido
    </ion-col>
    <ion-col >
      <mat-form-field appearance="fill" >
        <mat-label>Ingrese su apellido</mat-label>
        <input matInput name="apellido" [(ngModel)]="datos.apellido">
      </mat-form-field>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col class="ion-margin-top">
      Nivel Educación
    </ion-col>
    <ion-col >
      <mat-form-field appearance="fill">
        <mat-label>Seleccione Nivel</mat-label>
        <mat-select>
          <mat-option >Educación Básica</mat-option>
          <mat-option >Educación Media</mat-option>
          <mat-option >Educación Superior</mat-option>
        </mat-select>
      </mat-form-field>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col class="ion-margin-top">
      Fecha Nacimiento
    </ion-col>
    <ion-col >
      <mat-form-field appearance="fill">
        <mat-label>Seleccione una fecha</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ion-col>
  </ion-row> 

  <mat-divider></mat-divider>
  
  <div class="example-button-row">
    
    <ion-row class="ion-margin-top">
      <ion-col class="ion-margin-start">
        <button mat-raised-button color="accent" >Limpiar</button>
      </ion-col>
      <ion-col class="ion-margin-start">
        <button mat-raised-button color="warn" (click)="openDialog('3000ms', '1500ms')" type="submit">Mostrar</button>
      </ion-col>
    </ion-row>
  </div>

  </form>
  
</ion-content>
